body {
    display: flex;
    flex-direction: column;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: rgba(255, 99, 71, 0.1);
}

.musica {
    margin: 1rem;
    padding: .1rem;
}

.arte {
    margin: 1rem;
    padding: .1rem;
}

.inicio {
    margin: 1rem;
    padding: .1rem;

}

.items-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 1.2rem;
    background-color: rgba(255, 99, 71, 0.1);
}



.imagenes {
    display: inline;
    width: auto;
    height: 12rem;
}

sub {
    text-align: left;
    font-size: .9rem;
    justify-content: start;
}

h1 {
    font-size: 1.7rem;
    text-align: left;
}

.art1 {
    background-color: blueviolet;
    margin: 0.5rem;
    padding: 2px;
    border: 2px solid black;
    width: 15rem;
    height: 24.7rem;
    float: left;
    align-items: center;
}

.dib {
    width: auto;
    height: 8rem;
    border-radius: 1.7rem;
    transition: box-shadow .2s;
}

.sub1 {
    text-align: left;
    font-size: 1.5rem;
    justify-content: start;
}

.art2 {
    background-color: blueviolet;
    margin: 0.5rem;
    padding: 2px;
    border: 2px solid black;
    width: 15rem;
    height: 24.7rem;
    float: left;
    align-items: center;
}

.dab {
    width: auto;
    height: 9rem;
    border-radius: 1.7rem;
    transition: box-shadow .2s;
}

.art3 {
    background-color: blueviolet;
    margin: 0.5rem;
    padding: 2px;
    border: 2px solid black;
    width: 15rem;
    height: 24.7rem;
    float: left;
    align-items: center;
}

.dub {
    width: auto;
    height: 10rem;
    border-radius: 1.7rem;
    transition: box-shadow .2s;
}

.dub:hover {
    box-shadow: 0 0 20px black;
}

.dib:hover {
    box-shadow: 0 0 20px black;
}

.dab:hover {
    box-shadow: 0 0 20px black;
}
.audio {
    height: auto;
    width: 20rem;
    float: left;
}
.enlace {
    background-color: blueviolet;
    margin: 0.5rem;
    padding: 2px;
    border: 2px solid black;
    width: 15rem;
    height: 24.7rem;
    float: left;
    align-items: center;
}